.active {
  color: rgb(150, 150, 150)!important;
}

.nav-links {
  background: rgb(12, 58, 65);
  display: block;
}

.nav-links > ul > li {
  padding: 20px 10px 20px 10px;
  display: inline-block;
}

ul {
  margin-bottom: 0px !important;
}

.nav-links > ul > li > a {
  text-decoration: none;
  color: white;
}