.body {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 50%;
  min-width: 650px;
}

.body > p::first-letter {
  font-size: 1.1;
}

@media screen and (max-width: 800px){
  .body {
    max-width: 80%;
    min-width: 80%;
    width: 80%
    
  }
}