.jumbotron {
  background: url('http://getwallpapers.com/wallpaper/full/3/f/f/19640.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100px;
  border-radius: 0px;
}

.jumbotron > h1 {
  margin-bottom: 0px;
  padding: 8%;
  color: white;
  font-size: 4em;
}

@media screen and (max-width: 640px) {
  .jumbotron {
    background-position-y: 0px
  }
  .jumbotron > h1 {
    padding: 6%;
    font-size: 3em; 
  }
}